extends _common/layout

block stylesheet
  link(rel='stylesheet', href='../public/stylesheets/home.css')

block content
  div.cover.inner
    h2.cover.heading Welcome to Markbook
    div.inner
      p.lead The best free gradebook for teachers and students. It's clean and simple to use.
      p.lead Log in to have full access.
