extends layout

block content
    h1= title
    form(action='login', method='post')
        label Username:
            input(type='text', name='username')
        label Password:
            input(type='password', name='password')
        button.btn.btn-success
            | Sign in
