extends layout

block content
    h1= title
    table.table.table-responsive.table-striped
                thead
                    tr
                        th
                            | Student's username
                        th
                            | Student's name
                        th
                            | Student's grade
                tbody
                    each user in model
                         if(true || user.role === 'student')
                            tr
                                td
                                    =user.number
                                td
                                    =user.firstName + ' ' + user.lastName
                                td
                                    =user.grade
