extends layout

block content
    h1= title
    table.table.table-responsive.table-striped
                thead
                    tr
                        th
                            | Student's username
                        th
                            | Student's name
                        th
                            | Student's grade
                tbody
                    each user in userlist
                        if(user.role === 'student')
                            tr
                                td
                                    =user.username
                                td
                                    =user.name
                                td
                                    =user.grade
