extends layout

block content
    h1= title
    table.table.table-responsive.table-striped
                thead
                    tr
                        th
                            | Student's id
                        th
                            | Student's name
                        th
                            | Student's grade
                tbody
                    each user in userlist
                        tr
                            td
                                =user.id
                            td
                                =user.name
                            td
                                =user.grade
