- var links = { 'Item1': '/link1', 'Item2': '/link2' }
- var userItems = { 'Profile': '/profile', 'Change password': '/changePassword', 'Log out': '/logout' }
- var users = { 'Students': '/students', 'Teachers': '/teachers', 'Subjects': '/subjects' }
- var gradesItems = { "12A": "/grades/12A", "12C": "/grades/12C", "11A": "/grades/11A" }

mixin dropdown-item(name, link)
  a.dropdown-item(href=link)= name

mixin nav-item(name, link)
  li.nav-item
    a.nav-link(href=link)= name
  
nav.navbar.navbar-fixed-top.navbar-light
  .container
    .navbar-brand 
      a#nav-btn-markbook.nav-link(href='/') Markbook
    if user
      ul.nav.navbar-nav.pull-right
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(data-toggle='dropdown',href='#',role='button') #{user.email}
            .dropdown-menu
              each val, key in userItems
                +dropdown-item(key, val)
    else
      ul.nav.navbar-nav.pull-right
        li.nav-item
          a#nav-btn-login.nav-link(href='/login') Log in
    ul.nav.navbar-nav.pull-right
      li.nav-item.dropdown
        a#nav-btn-users.nav-link.dropdown-toggle(data-toggle='dropdown',href='#',role='button') Users
          .dropdown-menu
            each val, key in users
              +dropdown-item(key, val)
    if user
      if user.role === 'admin' || user.role === 'teacher'
        ul.nav.navbar-nav.pull-right
          li.nav-item.dropdown
            a#nav-btn-grades.nav-link.dropdown-toggle(data-toggle="dropdown",href="#",role="button") Grades
              .dropdown-menu#gradesDropdownItems
      else
        ul.nav.navbar-nav.pull-right
          li.nav-item
            a.nav-link(href='/students') Students
