extends ../_common/layout

block content
    h1= title
    form.form(method='POST', action='changePassword')
        label Password:
            input(type='password', name='password')
        label Confirm password:
            input(type='password', name='confirmPassword')
        button.btn.btn-success
            | Save
