extends ../_common/layout

block content
    h1= title
    form.form(action='changePassword', method='post')
        label Email:
            input(type='password', name='password')
        label Password:
            input(type='password', name='confirmPassword')
        button.btn.btn-success
            | Save
