extends ../_common/layout

block content
    h1= title
    form.form(method='POST', action='login')
        label Email:
            input(type='email', name='email')
        label Password:
            input(type='password', name='password')
        button.btn.btn-success
            | Sign in
