extends ../_common/layout

block content
    h1= title
    form.form(method='POST', action='login')
        label Email:
            input#input-email(type='email', name='email')
        label Password:
            input#input-pass(type='password', name='password')
        button#btn-login.btn.btn-success
            | Sign in
