html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.bg-gradient {
  background: linear-gradient(to bottom, rgba(250, 250, 254, 1) 50%, rgba(255, 255, 255, 0.90) 100%);
}

.wrapper { 
  flex: 1 0 auto;
  padding: 20px;
}

.main {
  padding-top: 50px;
}

.footer-bottom a {
  color: black;
}

.footer-bottom {
  flex-shrink: 0;
  padding: 20px;
}

.footer-bottom ul {
  list-style-type: none;
}

.dropdown-item {
  display: block;
  padding: 5px;
}
