footer.footer-bottom
    div.row
        div.col-sm-8
                h5 ©2017 TELERIK ACADEMY EXPRESS 2 TEAM.
        div.col-sm-1
                a(href='#' title='Facebook').icoFacebook
                    i.fa.fa-facebook
        div.col-sm-1
                a(href='#' title='Twitter').icoTwitter
                    i.fa.fa-twitter
        div.col-sm-1
                a(href='#' title='Google').icoGoogle
                    i.fa.fa-google-plus
        div.col-sm-1
                a(href='#' title='Linkedin').icoLinkedin
                    i.fa.fa-linkedin