nav.navbar.navbar-fixed-top.navbar-light
    .container
    
    .navbar-brand 
      a.nav-link(href="/") brand

    ul.nav.navbar-nav
      li.nav-item.active
        a.nav-link(href='#') Item active

ul.nav.navbar-nav.pull-xs-right

      li.nav-item.dropdown
        a.nav-link.dropdown-toggle(data-toggle="dropdown",href="#",role="button") Admin
        .dropdown-menu
    
      li.nav-item
        a.nav-link(href="#") 
          i.fa.fa-wrench
          | Settings     