extends ../_common/layout

block content
    h1= title

    table.table.table-responsive.table-striped
        if (currentUser.role === 'student')
            thead
                tr
                    th
                        | Student's number
                    th
                        | Student's name
                    each subject in currentUser.marks
                        th
                            = subject.name
            tbody
                tr
                    td
                        = currentUser.number
                    td
                        = currentUser.firstName
                        | &nbsp;
                        = currentUser.lastName
                    each subject in currentUser.marks
                            td
                               = Object.values(subject)[0]
        if (currentUser.role === 'admin')
            thead
                tr
                    th
                        | Student's number
                    th
                        | Student's name
                    each mark in model[1].marks
                            th(colspan="2")
                                = mark.name
            tbody
                each student in model
                    tr
                        td
                            = student.number
                        td
                            = student.firstName
                            |   &nbsp;
                            = student.lastName
                        each mark in student.marks
                            td
                                = Object.values(mark)[0]
                            td(class=''+ mark.name.toLowerCase())
                                button.editMarksButton.btn.btn-primary(href='', data-id=''+student.id type='button', data-toggle='modal', data-target='#myModal')
                                    | Edit

        if (currentUser.role === 'teacher')
            thead
                tr
                    th
                        | Student's ID
                    th
                        | Student's name
                    each mark in model[1].marks
                        if (currentUser.subject && currentUser.subject === mark.name)
                            th(colspan='2')
                                = mark.name
                        else
                            th
                                = mark.name
            tbody
                each student in model
                    tr
                        td
                            = student.number
                        td
                            = student.firstName
                            |   &nbsp;
                            = student.lastName
                        each mark in student.marks
                            if (currentUser.subject && currentUser.subject === mark.name)
                                td
                                    = Object.values(mark)[0]
                                td(class='' + mark.name)
                                    button.editMarksButton.btn.btn-primary(href='', data-id=''+student.id type='button', data-toggle='modal', data-target='#myModal')
                                        | Edit
                            else
                                td
                                    = Object.values(mark)[0]
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5#exampleModalLabel.modal-title Edit marks
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true')
                .modal-body
                    include modal
                .modal-footer
                    button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                    button.saveEditMarksButton.btn.btn-primary(type="submit") Save
