extends ../_common/layout
include subjects

block content

    h1= title
        | &nbsp;of&nbsp;
        = grade.grade
        | &nbsp;grade
    table.table.table-responsive.table-striped
        thead
            tr
                th
                    | Student's Number
                th
                    | Student's Name
                if user.role === 'admin'
                     each subj in subjects
                        th(colspan='2')
                            = subj
                if user.role === 'teacher'
                    each subj in subjects
                        if thisUser.subjects && thisUser.subjects == subj
                            th(colspan='2')
                                = subj
                        else
                            th
                                = subj
        tdoby
            each student in students
                tr(id=student.number)
                    td(class='number')
                        = student.number
                    td(class='name')
                        = student.firstName
                        |  &nbsp;
                        = student.lastName
                    +subjects(student, subjects, thisUser, grade)

